<footer class="footer bg-dark  py-3 mt-auto">

    <!-- py-3 gives it a padding of top and bottom of 3px and mt-auto ensures it remains at the end of the page  -->
    <span class="text-muted"> &copy; PicNique2021</span>

    <!-- the &copy is for copyright -->
</footer>